!Documentation~
!Samples~

.npmrc
build.bat.meta
build.sh.meta
npm-debug.log

.Editor/**
.build_script/**
.idea/**
artifacts/**
build/**
node_modules/**
residential-interiors/UserSettings/**
upm-ci~/**

**/*Results
**/.idea/**
**/.vs/**
**/.vscode/**
**/Library/**
**/Logs/**
**/Temp/**
**/TestProjects/PerceptionTest/Build
**/TestProjects/PerceptionTest/utr
**/TestProjects/Public/Logs/**
**/obj/**

*.DS_Store
*.csproj
*.sln
*.vsconfig

*.lib*
*.pdb*

**/.Editor
**/upm-ci~
**/.bin

**/Build/**
**/Builds/**

/.download
CodeCoverage
